@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/assets/images/ikona.png" type="image/x-icon">
    <meta name="description" content="">

    <title>@ViewBag.Title - City info</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/linericon/style.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/assets/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/assets/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="/assets/vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <link rel="stylesheet" href="/assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/facebook-plugin/style.css">
    <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="/assets/socicon/css/socicon.min.css">
    <link rel="stylesheet" href="/assets/mobirise/css/style.css">
    <link rel="stylesheet" href="/assets/mobirise-slider/style.css">
    <link rel="preload" as="style" href="/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">

    <link rel="stylesheet" href="~/assets/dropdown/dropdown.css">


</head>
<body style="background-color:aliceblue">
    <section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--sticky mbr-navbar--auto-collapse" id="ext_menu-8" data-rv-view="41">
        <div class="mbr-navbar__section mbr-section">
            <div class="mbr-section__container container">
                <div>
                    <div class="mbr-navbar__container">
                        <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                            <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                                <span class="mbr-brand__logo"><a href="@Url.Action("Index", "Home")" class="mobi-mbri mobi-mbri-home mbr-iconfont mbr-iconfont-menu"></a></span>
                                <span class="mbr-brand__name"><a class="mbr-brand__name text-white" href="@Url.Action("Index", "Home")">City info</a></span>
                            </span>
                        </div>
                        <div class="mbr-navbar__hamburger mbr-hamburger"><span class="mbr-hamburger__line"></span></div>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                            <div class="mbr-navbar__column mbr-navbar__menu">
                                <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                                    <div class="mbr-navbar__column">
                                        <ul class="mbr-navbar__items mbr-navbar__items--right float-left mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active mbr-buttons--only-links"><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="@Url.Action("ResolveProfileRole", "Account")">@User.Identity.GetUserName()</a></li><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="javascript:document.getElementById('logoutForm').submit()">Odjavi me</a></li></ul>
                                    </div>
                                </nav>
                            </div>

                        }
                        else
                        {
                            <div class="mbr-navbar__column mbr-navbar__menu">
                                <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                                    <div class="mbr-navbar__column">
                                        <ul class="mbr-navbar__items mbr-navbar__items--right float-left mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active mbr-buttons--only-links"><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="@Url.Action("Register", "Account")">Registracija</a></li><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="@Url.Action("Login", "Account")">Prijava</a></li></ul>

                                    </div>
                                </nav>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer style="position:fixed;bottom:0px;width:100%;background-color:burlywood">
        <p class="text-center">&copy; @DateTime.Now.Year - City info d.o.o.</p>
    </footer>

  
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
