@model CityInformation.Models.PromijeniLozinku

@{
    ViewBag.Title = "Promijeni lozinku";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<br />
<br />
<h2 class="text-center">Promjena lozinke</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.HiddenFor(model => model.ID)

    <div class="container">
        <center>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.StaraLozinka, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.StaraLozinka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StaraLozinka, "", new { @class = "text-danger" })
            </div>
        </center>

        <center>
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.NovaLozinka, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NovaLozinka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NovaLozinka, "", new { @class = "text-danger" })
            </div>
        </center>

        <center>
            <div class="form-group col-md-12">
                @Html.LabelFor(model => model.PotvrdiNovuLozinku, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PotvrdiNovuLozinku, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PotvrdiNovuLozinku, "", new { @class = "text-danger" })
            </div>
        </center>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-center">
            <input type="submit" value="Ažuriraj" class="btn btn-primary" />
        </div>
    </div>
}
<br />

<div class="form-actions no-color">
    <a href="@Url.Action("Profil", "Poduzeće")"><input type="button" class="btn btn-primary" value="Natrag"></a>
</div>

